$color-primary: #9cc69b;
$color-secondary: #bde4a8;
$color-tertiary: #d7f2ba;
$color-accent-1: #676f54;
$color-accent-2: #79b4a9;
$color-error: #ca5e5e;
$color-warning: #dbc665;
$color-text: #253207;
$color-link: #4e5e26;
$color-white: #ffffff;
