@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "./variables";

html {
  font-family: "JetBrains Mono", monospace;
  color: $color-text;

  @include respond-to('desktop') {
    font-size: 16px;
  }

  @include respond-to('tablet') {
    font-size: 15px;
  }

  @include respond-to('mobile') {
    font-size: 14px;
  }
}

body {
  background-color: $color-tertiary;
  
  @include respond-to('desktop') {
    padding-right: 25rem;
    padding-left: 25rem;
  }

  @include respond-to('tablet') {
    padding-right: 10rem;
    padding-left: 10rem;
  }

  @include respond-to('mobile') {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  
}
