---
const { title } = Astro.props;
---

<div class="badge">
  {title}
</div>

<style lang="scss">
  .badge {
    background-color: $color-accent-1;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 9999px;
    color: white;
  }
</style>
