---
const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/base.scss" />
    <link rel="stylesheet" href="/src/styles/_variables.scss" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
